<h1>PictureConvo</h1>
<h2>Have conversations with your friends using pictures!</h2>

<% if @user %>
<h2>Hello, <%= @user.username %></h2>
<%= link_to "Create Conversation", new_conversation_path %>
<% end %>


