@import 'color_variables';
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

nav {
	background: $dark-grey;
	height: 50px;
}

.left {
  position: relative;
  top: 15px;
  left: 20px;
  text-align: left;
  width: auto;
  display: inline;
}

.right {
  position: relative;
  top: 15px;
  right: 20px;
  width: auto;
  float: right;
  display: inline;
}


nav li, nav li h2 {
	color: $turq;
	display: inline;
	padding: 10px;
	font-family: 'Ubuntu Condensed', sans-serif;
	z-index: 5;
}

nav a, nav a:visited {
	color: $turq;
	text-decoration: none;
}